//colors
$color_gallery_approx: #eee;
$color_mountain_mist_approx: #999;

.container {
  max-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin-top: 6rem;
  text-align: center;
}
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}
.docs-section {
  border-top: 1px solid $color_gallery_approx;
  padding: 4rem 0;
  margin-bottom: 0;
}

.docs-example {
  margin-bottom: 0;
  .row {
    margin-bottom: 0;
  }
  &.row {
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  h4 {
    margin-bottom: 1rem;
  }
  h5 {
    margin-bottom: 1rem;
  }
  h6 {
    margin-bottom: 1rem;
  }
}
.heading-font-size {
  font-size: 1.2rem;
  color: $color_mountain_mist_approx;
  letter-spacing: normal;
}
@media(min-width: 550px) {
  .header {
    margin-top: 18rem;
  }
  .docs-section {
    padding: 6rem 0;
  }
}
@media(min-width: 750px) {
  .container {
    width: 80%;
  }
}
img {
  vertical-align: text-bottom;
}